* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    &.noscroll {
        position: static !important;
        width: 100%;
        height: 100%;
        overflow: hidden !important;
        overflow-y: hidden !important;
        margin: 0;
        padding: 0;
    }
}

// 最外圍預設為100%
.wrapper {
    position: relative;
    width: 100%;
    margin: 0px auto;
    background: url(../images/top_bg2.svg) top 150px left no-repeat;
    background-size: 450px;

    @include screen('mobile') {
        background: #FFF;
        overflow: hidden;
        overflow-y: auto;
    }

    &:before {
        content: "";
        position: absolute;
        display: block;
        width: calc(1200px + (100% - 1200px) / 2 - 100px);
        height: 620px;
        top: 0;
        right: 0;
        background-image: url(../images/bg3.png), url(../images/top_bg1.svg);
        background-position: top right, bottom left;
        background-repeat: no-repeat;
        background-size: contain, cover;
        //transform-origin: top right;

        @media screen and (max-width: 1200px) {
            width: calc(100% - 100px);
        }

        @include screen('mobile') {
            width: 100%;
            height: 300px;
            top: 60px;
        }

        @include screen('xs_mobile') {
            height: 220px;
        }

        @media screen and (max-width: 400px) {
            height: 180px;
        }
    }
}

// @keyframes bgIn {
//     0% {
//         opacity: .5;
//     }
//     100% {
//         opacity: 1;
//     }
// }
// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
    padding: 0;
    margin: 0 auto;
    max-width: $container-max; //請看_variable.scss

    @media screen and (max-width: 1200px) {
        padding: 0 15px;
    }
}

.main {
    position: relative;
    margin: 0 auto;
    padding: 2em 0 0 0;

    // 可先設定一個中央區塊最大寬，限制accesskey對齊
    @include screen('mobile') {
        margin-top: 60px;
    }

}

////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerpage ClassName
.innerpage {
    >.container {
        //@include gutter();
        //display: flex;
    }

    h2.title {
        line-height: 1.25em;
        font-family: 'Century Gothic';
        text-transform: uppercase;
        text-align: left;
        color: $color-title;
        position: relative;
        margin: .5em 0 1em 0;
        padding-left: 15px;

        &:after {
            content: "";
            display: block;
            position: absolute;
            width: 4px;
            height: 100%;
            left: 0;
            top: 0;
            @include gradient($color-purple, $lightColor, vertical);
        }
    }

    h3.title {
        font-family: 'Century Gothic';
        text-transform: capitalize;
        padding: .5em 0;
        border-bottom: 1px solid $primaryColor;
        margin-bottom: 1em;
    }

    .center_block {
        // flex: none;
        // flex-basis: 100%;
        max-width: 100%;
        background: #fff;
        border-radius: $rounded-angle;
        padding: 1em 2em 2em;
        position: relative;
        min-height: 500px;
        z-index: 2;
        box-shadow: rgba(0, 0, 0, 0.2) 30px -30px 50px -50px, rgba(0, 0, 0, 0.2) -30px -30px 35px -50px;

        @include screen('mobile') {
            padding: 1em;
        }

        // &:before{
        //     content:"";
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     display: block;
        //     width: 100%;
        //     height: 460px;
        //     max-height: 90%;
        //     background: rgba(0,0,0,.1);
        //     box-shadow: 0 0 15px rgba(0,0,0,.1);
        //     border-radius: 10px 10px 50px 50px;
        //     z-index: -1;
        // }
        // &:after{
        //     content:"";
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     display: block;
        //     width: 100%;
        //     height: 100%;
        //     background: #fff;
        //     border-radius: $rounded-angle;
        //     z-index: 0;
        // }
        // >*{
        //     z-index: 1;
        // }
    }

    // .left_block {
    //     flex: none;
    //     flex-basis: 260px;
    //     max-width: 260px;
    //     margin-right: 40px;
    //     &.hidden {
    //         +.center_block {
    //             flex: none;
    //             flex-basis: 100%;
    //             max-width: 100%;
    //         }
    //     }
    //     +.center_block {
    //         flex: auto;
    //         flex-basis: calc(100% - 300px);
    //         max-width: calc(100% - 300px);
    //     }
    //     @include screen('tablet') {
    //         display: none;
    //         +.center_block {
    //             flex: none;
    //             flex-basis: 100%;
    //             max-width: 100%;
    //         }
    //     }
    // }
    &.small_size {
        font-size: .938em;
    }

    &.large_size {
        font-size: 1.125em;
    }
}

.lp {
    margin-bottom: 2em;
}

//內頁搜尋區塊
.searchBlock {
    position: relative;

    .btn-toggle {
        width: 170px;
        padding: .5em 4.5em .5em 2em;
        border: none;
        background: $primaryColor;
        color: #fff;
        margin: 1em 0;
        position: relative;
        overflow: hidden;
        text-transform: uppercase;

        &:before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 2.5em;
            height: 100%;
            display: block;
            background: rgba(0, 0, 0, .1) url(../images/icon/icon_arrow_down2.svg) center no-repeat;
            background-size: 14px;
        }

        &.close {
            &:before {
                background-image: url(../images/icon/icon_arrow_up2.svg);
            }
        }
    }

    .search_form {
        display: none;
        background: $color-bg2;
        padding: 1em;
        margin: 0;

        .form_grp {
            border-bottom: none;
        }

        .btn_grp {
            justify-content: left;

            .btn {
                min-width: 10em;

                @include screen('mobile') {
                    flex: 1 1 100%;
                }
            }
        }

        .form_content {
            ul {
                list-style: none;
                padding: 0;
                margin: .3em 0 0 0;
            }

            li {
                margin-bottom: .5em;

                label {
                    margin-right: .5em;
                }
            }
        }

        .check_grp {
            input[type="checkbox"] {
                display: none;

                &+label {
                    display: inline-block;
                    background-color: #fff;
                    cursor: pointer;
                    padding: .5em .8em;
                    border-radius: 0.2em;
                    border: 1px solid $color-gray;
                }

                &:checked+label {
                    background: $form-focus;
                    color: #fff;
                }
            }

        }
    }
}

.album,
.video,
.link {
    margin-top: 1em;

    ul {
        @include li-reset;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -0.8em;
    }

    li {
        margin: 1em;
        flex-basis: calc(25% - 2em);

        .thumbnail {
            height: 100%;
        }

        @include screen('tablet') {
            flex-basis: calc(33.33333% - 2em);
        }

        @include screen('mobile') {
            margin: .5em;
            flex-basis: calc(50% - 1em);
        }

        @include screen('xs_mobile') {
            margin: 0 0 1em 0;
            flex-basis: 100%;
        }
    }

    .caption {
        h3 {
            font-size: 1em;
        }
    }
}

.video {
    .thumbnail {
        .img-container {
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .3) url(../images/basic/icon_play.svg) center no-repeat;
                background-size: 50px;
                opacity: .6;
                transition: all .3s ease-in;
            }
        }

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

            .img-container {
                &:after {
                    background-color: rgba(0, 0, 0, 0.05);
                    opacity: .9;
                }
            }
        }
    }
}

//lp_link
.link {
    .thumbnail {
        .img-container {
            @include aspect-ratio(2, 1);
            margin: 0;

            img {
                object-fit: contain;
                padding: .5em;
            }
        }

        .caption {
            padding: .5em 1em;
            width: 100%;
            background: $color-bg2;
            text-align: center;
        }
    }
}


//進度條
.process_step {
    margin: 2em auto;

    ul {
        @include li-reset;
        display: flex;
        justify-content: center;
        counter-reset: step;
        @include screen('xs_mobile'){
            flex-wrap: wrap;
        }
    }

    li {
        position: relative;
        text-align: center;
        flex-basis: 20%;
        max-width: 250px;
        color: $color-word2;
        padding: 0 5px;
        margin-bottom: .5em;
        @include screen('tablet'){
            flex-basis: 33.33333%;
        }

        &:before {
            counter-increment: step;
            content: counter(step);
            width: 36px;
            line-height: 36px;
            display: block;
            color: #fff;
            background: #888;
            border-radius: 30px;
            margin: 0 auto 5px auto;
            z-index: 1;
            border: 4px solid $color-line;
            position: relative;
            font-weight: bold;
        }

        &:not(:first-child):after {
            content: "";
            display: block;
            position: absolute;
            top: 17px;
            left: -50%;
            height: 6px;
            width: 100%;
            background: $color-line;
            z-index: 0;
        }

        &:nth-child(4):after{
            @include screen('xs_mobile'){
                content:none;
            }
        }

        &.done {
            color: $primaryColor;
            font-weight: bold;

            &:before {
                background: $primaryColor;
                border-color: lighten($lightColor, 15);
            }

            &:not(:first-child):after {
                background: lighten($lightColor, 15);
            }
        }
    }
}

.contact_form {
    padding: 2em 4em;
    background: #f7f7f7 url(../images/contact_bg.jpg) right top no-repeat;
    background-size: cover;
    @include screen('mobile'){
        padding: 1em;
    }
}

.step_content{
    margin: 4em 0;
    text-align: center;
    .step_img{
        max-width: 500px;
        margin: 0 auto;
    }
    .step_remind{
        font-size: 1.125em;
        font-weight: bold;
        margin: 1em 0;
    }
}

.applyBlock{
    // h3.title{
    //     text-align: center;
    //     border: none;
    //     padding: 0;
    // }
    .text_content{
        background: $color-bg2;
        padding: 1em 2em;
        margin-bottom: 1em;
        line-height: 1.8em;
        ul{
            padding-left: 1em; 
        }
        li{
            margin-bottom: .5em;
        }
    }
    // .accept_check{
    //     color: $secondaryColor;
    // }
    .training_program{
        background: $color-lightblue;
        font-size: 1.125em;
        font-weight: bold;
        padding: 1em;
    }
    .remarks{
        background: #FFDCDC;
        padding: 1em;
        margin: 1em 0;
        color: $color-red;
        line-height: 1.8em;
    }
}


//fancybox樣式更改
.fancybox-thumbs {
    top: auto;
    width: auto;
    bottom: 0;
    left: 0;
    right: 0;
    height: 95px;
    padding: 10px 10px 5px 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
}

.fancybox-show-thumbs .fancybox-inner {
    right: 0;
    bottom: 95px;
}

.hidden {
    display: none;
}